<article>
<h2>All Trophies</h2>
<h3><%= link_to "Create New Trophy", new_admin_trophy_path %></h3>
</article>

<main>
<ul>
  <% @trophies.each do |trophy| %>
  <li class="trophy_<%= trophy.id %>">
    <%= link_to trophy.name, admin_trophy_path(trophy) %>
    <%= link_to "Edit", edit_admin_trophy_path(trophy) %>
    <%= link_to "Delete", admin_trophy_path(trophy), method: 'delete' %>
  </li>
  <% end %>
</ul>
</main>
