<%= button_to 'Drop1', 'update', method: 'patch', params: {column: 0, game_id: @game.id} ,class: 'column0' %>
<%= button_to 'Drop2', 'update', method: 'patch', params: {column: 1, game_id: @game.id} ,class: 'column1' %>
<!-- <%= button_to 'Drop1', 'update', method: 'patch', params: {column: 0, game_id: @game.id} ,class: 'column0' %>
<%= button_to 'Drop1', 'update', method: 'patch', params: {column: 0, game_id: @game.id} ,class: 'column0' %> -->

<main class="game_board">
<section class="cell1">
  <%= image_tag("square#{@cells[0].value}", alt: "Square 1 is #{@cells[0].alt}") %>
  Square 1 is <%= @cells[0].alt %>
</section>

<section class="cell2">
    <%= image_tag("square#{@cells[1].value}", alt: @cells[1].alt) %>
  Square 2 is <%= @cells[1].alt %>
</section>

<section class="cell3">
    <%= image_tag("square#{@cells[2].value}", alt: @cells[2].alt) %>
  Square 3 is <%= @cells[2].alt %>
</section>

<section class="cell4">
    <%= image_tag("square#{@cells[3].value}", alt: @cells[3].alt) %>
  Square 4 is <%= @cells[3].alt %>
</section>

<section class="cell5">
    <%= image_tag("square#{@cells[4].value}", alt: @cells[4].alt) %>
  Square 5 is <%= @cells[4].alt %>
</section>

<section class="cell6">
    <%= image_tag("square#{@cells[5].value}", alt: @cells[5].alt) %>
  Square 6 is <%= @cells[5].alt %>
</section>

<section class="cell7">
    <%= image_tag("square#{@cells[6].value}", alt: @cells[6].alt) %>
  Square 7 is <%= @cells[6].alt %>
</section>

<section class="cell8">
    <%= image_tag("square#{@cells[7].value}", alt: @cells[7].alt) %>
  Square 8 is <%= @cells[7].alt %>
</section>

<section class="cell9">
    <%= image_tag("square#{@cells[8].value}", alt: @cells[8].alt) %>
  Square 9 is <%= @cells[8].alt %>
</section>

<section class="cell10">
    <%= image_tag("square#{@cells[9].value}", alt: @cells[9].alt) %>
  Square 10 is <%= @cells[9].alt %>
</section>

<section class="cell11">
    <%= image_tag("square#{@cells[10].value}", alt: @cells[10].alt) %>
  Square 11 is <%= @cells[10].alt %>
</section>

<section class="cell12">
    <%= image_tag("square#{@cells[11].value}", alt: @cells[11].alt) %>
  Square 12 is <%= @cells[11].alt %>
</section>

<section class="cell13">
    <%= image_tag("square#{@cells[12].value}", alt: @cells[12].alt) %>
  Square 13 is <%= @cells[12].alt %>
</section>

<section class="cell14">
    <%= image_tag("square#{@cells[13].value}", alt: @cells[13].alt) %>
  Square 14 is <%= @cells[13].alt %>
</section>

<section class="cell15">
    <%= image_tag("square#{@cells[14].value}", alt: @cells[14].alt) %>
  Square 15 is <%= @cells[14].alt %>
</section>

<section class="cell16">
    <%= image_tag("square#{@cells[15].value}", alt: @cells[15].alt) %>
  Square 16 is <%= @cells[15].alt %>
</section>
</main>
