<!DOCTYPE html>
<html>
  <head>
    <title>ConnectFour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
      <%= link_to "Log out", logout_path %>
      <% else %>
      <%= link_to "Log in", login_path %>
      <% end %>
      <%= link_to "Sign up", new_user_path %>
    </nav>

    <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
    <% end %>
    <h1>Connect 4!</h1>
    <%= yield %>
  </body>
</html>
